<!DOCTYPE html>
<html>
<head>
  <title>HotelRoom</title>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <script src="../../javascripts/jquery.js"></script>
</head>
<body id=one>

<div id="container">
<div class="images">
<img class="slide" src="images/hotel.jpg" alt="hotel">
</div>
<div class="images">
<img class="slide" src="images/pool.jpg" alt="communication">
</div>
<div class="images">
<img class="slide" src="images/room.jpg" alt="view">
</div>
<div class="images">
<img class="slide" src="images/view.jpg" alt="maintenace">
</div>
<div class="images">
<img class="slide" src="images/communication.jpg" alt="services"></div>
</div>

<div id="bar">
<a href="/"><div class="welcome">Welcome to HotelRoom</div></a>
<a href="#"><div id="bar_item1" class="bar_item">How it works</div></a>
<a href="#"><div id="bar_item2" class="bar_item">Take a tour</div></a>
<a href="#"><div id="bar_item3" class="bar_item">Start using HotelRoom</div></a>
<a href="#"><div id="bar_item4" class="bar_item"></div></a>
<a href="#"><div id="bar_item5" class="bar_item"></div></a>
<a href="#"><div id="bar_item6" class="bar_item"></div></a>
</div>


  <div id="serv1" class=serv ><div id="services"></div><span class="title">Services</span><br><br>Your perfect time is the perfect time for us doing work.</div>
  <div id="serv2" class=serv ><div id="communication"></div><span class="title">Communication</span><br><br>Always available to answer your questions/concerns.</div>
  <div id="serv3" class=serv ><div id="security"></div><span class="title">Security</span><br><br>Watching over your safety.</div>
  <div id="serv4" class=serv ><div id="maintenance"></div><span class="title">Maintenace</span><br><br>Making sure everything works.</div>
  <div id="serv5" class=serv ><div id="information"></div><span class="title">Information</span><br><br>The best way of moving around.</div>

<div id="get_in">
  <a href="/login"><div class="action" id="login"><span id="letter1">Login</span></div></a>
  <a href="/signup"><div class="action" id="signup"><span id="letter2">Sign Up</span></div></a>
</div>

<div id="info" class="section">
  <p class="contactUs">What we do</p>
  <p class="text">
    HotelRoom's intent is to create a software that makes easier the communication in the hospitality industry.
    We know how importat is to provide the right service and how difficult can be satisfing every guest at the same level,
    that's why we want to deliver the tools and technology to allow you interact in a more efficient way with customers, reminding them
    you're their best option because no matter what you will always be there for them.
</p>
</div>

<div id="contact" class="section">
<p class="contactUs">Contact Us</p>
<form id="contactMe" action='/contact' name="contactar" method="POST"><br>
<br>
<label>Full Name</label><br><input type="text" placeholder="Full Name" name="name"><br>
<br>
<label>Email</label><br><input type="text" placeholder="Email address" name="email"><br>
<br>
<label>Message</label><br><textarea row="8" cols="50" name="message" placeholder="Message"></textarea><br>
<br>
<button id="subm">SEND</button>
</form>
</div>
<div class="divider"><div class="shape"></div></div>

</div>
<div id='use'>
 <p>
  Lorem ipsum dolor sit amet, sale adversarium qui id, eum et veniam euismod persecuti, ut his everti theophrastus. In nec clita tamquam adipiscing, duo no nibh pericula. Eu vix movet mandamus, quis ceteros periculis no vis. Detraxit elaboraret efficiendi ut usu, tempor legimus nec cu. Ne verear insolens duo, postea alterum ancillae ex eam. Mei prompta erroribus gubergren ne. Homero aliquip his no.

Omnis virtute ius in. Ludus prompta laoreet sit ne, ceteros molestiae an ius. Cum iudico petentium intellegat et, sea dolore essent conclusionemque an. Quis errem tation id quo.

Sit wisi mnesarchum ex, ius mutat choro ubique te. Duo aeque alterum reprimique cu, in mei ubique discere accusata, et ipsum clita salutandi nam. Ex modo liber choro duo. Usu te putant animal, ocurreret liberavisse vis te. Eos reque disputando ex, et suas magna quo. Id quo recteque honestatis, ut latine voluptua eum, ubique aliquid propriae eos te.

At regione consectetuer per. Odio partiendo adipiscing ei mea, ea perpetua reformidans eos. Vix saperet hendrerit intellegebat eu, his invidunt reprehendunt ea. Ius ne iudico veniam dolorem.

Graecis quaerendum duo ad. Id vis novum omnium voluptatum, at movet dolore urbanitas cum, mea et alia nostrud omittantur. Pri in alterum consulatu. Id paulo labitur intellegam vis, ne per novum veniam moderatius, an eos liber quodsi.

Quo natum voluptaria ei, his ex euismod recusabo maluisset. Mea autem intellegat sententiae et, autem quando vix ex. Brute menandri dissentiet nec an, nam delicata volutpat an. Duo congue pertinax et. Imperdiet intellegebat has ut, cu eos salutatus inciderint reprehendunt, quo audire luptatum pertinacia ex.
 </p>

</div>

<footer>
<hr class="horse">
<p class="reg">© 2017 Danilo Marichal. All rights reserved.</p>
</footer>
</body>
<script src="/javascripts/script.js"></script>
</html>
