<!DOCTYPE html>
<html>
<head>
  <title>HotelRoom</title>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <script src="../../javascripts/jquery.js"></script>
</head>
<body id=one>
<div id="container">
<h1>Welcome to Hotel Room</h1>
<div class="images">
<img class="slide" src="images/hotel.jpg" alt="hotel">
</div>
<div class="images">
<img class="slide" src="images/pool.jpg" alt="communication">
</div>
<div class="images">
<img class="slide" src="images/room.jpg" alt="view">
</div>
<div class="images">
<img class="slide" src="images/view.jpg" alt="maintenace">
</div>
<div class="images">
<img class="slide" src="images/communication.jpg" alt="services"></div>
</div>
</body>
<footer></footer>
<script src="/javascripts/script.js"></script>
</html>
