<!DOCTYPE html>
<html>
<head>
  <title>HotelRoom</title>
   <link rel="stylesheet" href="/stylesheets/style.css"/>
  <script src="../../javascripts/jquery.js"></script>
</head>
<body id="get-in">
  <div class="layer"></div>
  <div class="divider2"> <a href="/"><div class="welcome2">HotelRoom</div></a><a href="#"><div class="welcome2">How it works</div></a><a href="#"><div class="welcome3">Take a tour</div></a><a href="/signup"><div class="welcome3">Sign Up</div></a>  <div class="shape2"></div></div>
<div id="sign_container">

<h1 class="page_title">Login Here...</h1>

<form id="log" action="/login" method="post">
E-mail: <br><input class="bigger" placeholder="E-mail" type="text" name="email">
<br>
<br>
Password:<br><input class="bigger" placeholder="Password" type="password" name="password">
<br><br>
<button type="submit">Login</button>
</form>
</body>
<script src="/javascripts/script.js"></script>
</html>

