<!DOCTYPE html>
<html>
<head>
  <title>HotelRoom</title>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <script src="../../javascripts/jquery.js"></script>

</head>
<body id="up">
  <div class="layer"></div>
<div class="divider2"> <a href="/"><div class="welcome2">HotelRoom</div></a><a href="#"><div class="welcome2">How it works</div></a><a href="#"><div class="welcome3">Take a tour</div></a><a href="/login"><div class="welcome3">Login</div></a>  <div class="shape2"></div></div>
<div id="sign_container">

<h1 class="page_title">Sign Up Here...</h1>

<form action="/signup" method="post">
<div class="two_forms" id="left">
<label>First Name</label><br><input class="bigger" placeholder="First Name" type="text" name="name"><br><br>
<label>Last Name</label><br><input class="bigger" placeholder="Last Name" type="text" name="last"><br><br>
<label>Age</label><br><input class="bigger" placeholder="Age" type="number" name="age"><br><br>
<!--<button class="continue">Continue</button>-->
</div>
<div class="two_forms" id="right">
<label>E-mail</label><br><input class="bigger" placeholder="E-mail" type="text" name="email"><br><br>
<label>Password</label><br><input class="bigger" placeholder="Password" type="password" name="password"><br><br>
<!--<label>Re-enter Password</label><br><input placeholder="Password" type="password" name="password">--><br><br>
<button class="submit" type="submit">Submit</button>
</div>
</form>
<!--<div id="covering"></div>-->
</div>
<footer>
<hr class="horse">
<p class="reg">© 2017 Danilo Marichal. All rights reserved.</p>
</footer>
</body>
<script src="/javascripts/script.js"></script>
</html>

